@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body {
  background-color: #fbfbfb;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover {
  outline:0px !important;
  -webkit-appearance:none;
}

/* masthead
 */
.navbar-nav { margin: 0; }

/* footer
 */

.footer {
  margin-bottom: 60px;
}

/* dashboard.view
 */

.dashboard { margin-top: 80px; }
.label-new:before { content: "New"; }
.label-arrival:before { content: "Arrival"; }
.label-green:before { content: "Green"; }
.label-initial:before { content: "Initial"; }
.label-production:before { content: "Production"; }

.btn-circle { border-radius: 30px; }
.btn-circle-lg { border-radius: 100%; }

.table td:first-child,
.table th:first-child {
  padding-left: 16px;
}

.table td:last-child,
.table th:last-child {
  padding-right: 14px;
}

.table-hover:hover { cursor: pointer; }
.form.navbar-form { padding: 0; }
.table-heading th:first-child { width: 25%; }
.table-heading th:nth-child(2) { padding-left: 10px; width: 7%; }
.table-heading th:nth-child(3) { padding-left: 10px; width: 16%; }
.table-heading th:nth-child(4) { padding-left: 10px; width: 20%; }
.table-heading th:nth-child(5) { padding-left: 10px; width: 18%; }
.table-heading th:nth-child(6) { padding-left: 10px; width: 10%; }
.form-add td:nth-child(6) { padding-left: 10px }
.table-add.btn-group { width: 100%; }
.table-add .btn { width: 100%; }
.table-add .dropdown-menu { min-width: 0; width: 100%; }
.table .table-lot td:nth-child(n+2) { padding-left: 10px; }

/* lot.view
 */

.lot { margin-top: 60px; }
.lot-tabs { margin-bottom: 10px; }
.lot-nav { margin-top: 40px; }
.lot-textarea { width: 9%; }
.lot-value { margin: 10px 0 10px 0; }
.lot-heading { margin-left: 15px; }
.assesment-textarea { width: 11%; }
.assesment-input { width: 30%; }
.assesment-metric { width: 100%; }
.assesment-metric-btn { width: 40%; }
textarea { resize: none; }

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background: #fff;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* login.view
 */

 .component-login {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 300px;
   transform: translate(-50%, -50%);
   margin-right: -50%;
   margin: 0;
 }

 .component-login-message {
   position: absolute;
   width: 100%;
 }

.component-login-message.ng-hide-add,
.component-login-message.ng-hide-remove {
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    display: block !important;
    opacity: 1;
}
.component-login-message.ng-hide {
    opacity: 0;
}
