<!doctype html>
<html lang="en" ng-app="roastlab">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>RoastLab</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
</head>

<body>

  <!-- masthead -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="GlobalController as vm">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/"><strong>roastlab</strong><small>cupping</small></a>
      </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><p class="navbar-text"><small>signed in as </small><strong>{{user}}</strong></p></li>
          <li>
            <button class="btn btn-sm btn-primary navbar-btn" data-toggle="modal" data-target="#feedback"><i class="fa fa-send fa-fw"></i></button>
            <button class="btn btn-sm btn-danger navbar-btn" ng-click="vm.logout()"><i class="fa fa-share fa-fw"></i></button>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <!-- /masthead -->

  <!-- view -->
  <div class="container">
    <div ui-view></div>
  </div>
  <!-- /view -->

  <div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedback" ng-controller="GlobalController as fb">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="Feedback">Tell me what you think</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Module</label>
              <div class="col-sm-10">
                <select ng-model="message.module" class="form-control">
                  <option>Login</option>
                  <option>Dashboard</option>
                  <option>Lot</option>
                  <option>Map</option>
                  <option>Assesments</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Message</label>
              <div class="col-sm-10">
                <textarea rows="5" ng-model="message.content" class="form-control"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="fb.feedback(message)" data-dismiss="modal">Send</button>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/js/vendor/angular.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/angular-route.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/angular-animate.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/angular-ui-router.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/ui-bootstrap-0.14.3.min.js" type="text/javascript"></script>
  <script src="assets/js/vendor/ng-map.js" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6ZQeONoEDO9_LOVowBDy2Qbo2P79TxpM&libraries=places,drawing,geometry," type="text/javascript"></script>
  <script src="app.js" type="text/javascript"></script>
  <script src="modules/controllers/login.controller.js" type="text/javascript"></script>
  <script src="modules/controllers/dash.controller.js" type="text/javascript"></script>
  <script src="modules/controllers/lot.controller.js" type="text/javascript"></script>
  <script src="modules/services/loading.service.js" type="text/javascript"></script>
  <script src="modules/services/lot.service.js" type="text/javascript"></script>
  <script src="modules/services/login.service.js" type="text/javascript"></script>
  <script src="modules/services/geo.service.js" type="text/javascript"></script>
  <script src="modules/services/email.service.js" type="text/javascript"></script>
  <script src="modules/directives/tabs.directive.js" type="text/javascript"></script>
  <script src="modules/directives/places.directive.js" type="text/javascript"></script>
  <script src="modules/constants/user.constant.js" type="text/javascript"></script>
  <script src="modules/filters/date.filter.js" type="text/javascript"></script>
  <script src="modules/filters/label.filter.js" type="text/javascript"></script>
</body>

</html>
