<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td><h5>Cupping Date</h5></td>
          <td><p class="lot-value">{{vm.assesments[$index].cupDate | date}}</p></td>
        </tr>
        <tr>
          <td><h5>Roast Date</h5></td>
          <td><p class="lot-value">{{vm.assesments[$index].roastDate | date}}</p></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td><h5>TDS</h5></td>
          <td><p class="lot-value">{{vm.assesments[$index].TDS}} mg/L</p></td>
        </tr>
        <tr>
          <td><h5>EXT</h5></td>
          <td><p class="lot-value">{{vm.assesments[$index].EXT}} %</p></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <h5 class="lot-heading">Dry Aroma</h5>
      <div class="panel-body">
      {{vm.assesments[$index].dry}}
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <h5 class="lot-heading">Wet Aroma</h5>
      <div class="panel-body">
      {{vm.assesments[$index].wet}}
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <h5 class="lot-heading">Sweetness</h5>
      <div class="panel-body">
      {{vm.assesments[$index].sweet}}
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <h5 class="lot-heading">Acid</h5>
      <div class="panel-body">
      {{vm.assesments[$index].acid}}
      </div>
    </div>
  </div>

</div>

<div ng-if="vm.assesments[$index].name == 'Initial'" ng-include="'views/partials/initial.view.html'"></div>

<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td><h5>PR Code</h5></td>
          <td><p class="lot-value">{{vm.assesments[$index].prCode}}</p></td>
        </tr>
        <tr>
          <td><h5>Roaster</h5></td>
          <td><p class="lot-value">{{vm.assesments[$index].roastedBy}}</p></td>
        </tr>
        <tr>
          <td><h5>Equipment</h5></td>
          <td><p class="lot-value">{{vm.assesments[$index].roastEquipment}}</p></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <div class="bs-callout bs-callout-default">
      <h5>Comments</h5>
      {{vm.assesments[$index].comments}}</td>
    </div>
  </div>

</div>
