<div class="row">

  <div class="col-sm-12">
    <h5>Assesment Type</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td>
            <select class="form-control input-sm" ng-model="vm.assesments[$index].name">
              <option value="Unassigned">Unassigned</option>
              <option value="Green">Green</option>
              <option value="Arrival">Arrival</option>
              <option value="Initial">Initial</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-6">
    <h5>Assesment Date</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td class="assesment-input">Cupping Date</td>
          <td>
            <input type="date" class="form-control input-sm" value="{{vm.assesments[$index].cupDate | date: 'yyyy-MM-dd'}}" ng-model="vm.assesments[$index].cupDate" placeholder="yyyy-MM-dd" />
          </td>
        </tr>
        <tr>
          <td class="assesment-input">Roast Date</td>
          <td>
            <input type="date" class="form-control input-sm" value="{{vm.assesments[$index].roastDate | date: 'yyyy-MM-dd'}}" ng-model="vm.assesments[$index].roastDate" placeholder="yyyy-MM-dd" />
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-6">
    <h5>Data</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td class="assesment-input">TDS</td>
          <td>
            <div class="input-group assesment-metric">
              <input class="form-control input-sm" ng-model="vm.assesments[$index].TDS" type="number" />
              <span class="input-group-addon assesment-metric-btn">mg/L</span>
            </div>
          </td>
        </tr>
        <tr>
          <td class="assesment-input">EXT</td>
          <td>
            <div class="input-group assesment-metric">
              <input class="form-control input-sm" ng-model="vm.assesments[$index].EXT" type="number" />
              <span class="input-group-addon assesment-metric-btn">%</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <h5>Tasting</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td class="assesment-textarea">Dry Aroma</td>
          <td><textarea type="text" class="form-control input-sm" rows="4" ng-model="vm.assesments[$index].dry"></textarea></td>
        </tr>
        <tr>
          <td class="assesment-textarea">Wet Aroma</td>
          <td><textarea type="text" class="form-control input-sm" rows="4" ng-model="vm.assesments[$index].wet"></textarea></td>
        </tr>
        <tr>
          <td class="assesment-textarea">Sweetness</td>
          <td><textarea type="text" class="form-control input-sm" rows="4" ng-model="vm.assesments[$index].sweet"></textarea></td>
        </tr>
        <tr>
          <td class="assesment-textarea">Acid</td>
          <td><textarea type="text" class="form-control input-sm" rows="4" ng-model="vm.assesments[$index].acid"></textarea></td>
        </tr>
      </table>
    </div>
  </div>

</div>

<div ng-if="vm.assesments[$index].name == 'Initial'" ng-include="'views/partials/initial.edit.html'"></div>

<div class="row">

  <div class="col-sm-12">
    <h5>Roast Details</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td class="assesment-input">PR Code</td>
          <td><input class="form-control input-sm" ng-model="vm.assesments[$index].prCode" type="text" /></td>
        </tr>
        <tr>
          <td class="assesment-textarea">Roaster</td>
          <td><input type="text" class="form-control input-sm" ng-model="vm.assesments[$index].roastedBy" /></td>
        </tr>
        <tr>
          <td class="assesment-textarea">Equipment</td>
          <td><input type="text" class="form-control input-sm" ng-model="vm.assesments[$index].roastEquipment" /></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <h5>Comments</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td><textarea type="text" class="form-control input-sm" rows="4" ng-model="vm.assesments[$index].comments"></textarea></td>
        </tr>
      </table>
    </div>
  </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><button class="btn btn-sm btn-primary navbar-btn" ng-click="vm.updateAssesment(vm.assesments[$index], $index)">Update <strong>{{vm.assesments[$index].name}}</strong></button> <button class="btn btn-sm btn-danger navbar-btn" ng-click="vm.edit()">Cancel</button></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-sm btn-danger navbar-btn" ng-click="vm.removeAssesment($index)">Remove Assesment</button> <button class="btn btn-sm btn-success navbar-btn" ng-click="vm.addAssesment()" ng-show="vm.editing">Add Assesment</button></li>
    </ul>
  </div>
</nav>
