<div class="row">

  <div class="col-sm-6">
    <h5>Information</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td>Name</td>
          <td>
            <input class="form-control input-sm" ng-model="vm.lot.name" type="text" />
          </td>
        </tr>
        <tr>
          <td>Assignment</td>
          <td>
            <select class="form-control input-sm" ng-model="vm.lot.assignment">
              <option value="Unassigned">Unassigned</option>
              <option value="Filter">Filter</option>
              <option value="Espresso">Espresso</option>
              <option value="Sample">Sample</option>
              <option value="Filter/Espresso">Filter/Espresso</option>
              <option value="Green Sales">Green Sales</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Origin</td>
          <td><input class="form-control input-sm" ng-model="vm.lot.origin" type="text" /></td>
        </tr>
        <tr>
          <td>Farmer</td>
          <td><input class="form-control input-sm" ng-model="vm.lot.farmer" type="text" /></td>
        </tr>
        <tr>
          <td>Group</td>
          <td><input class="form-control input-sm" ng-model="vm.lot.group" type="text" /></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-6">
    <h5>Metrics</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td>Cropster ID</td>
          <td><input class="form-control input-sm" ng-model="vm.lot.metrics.cropId" type="text" /></td>
        </tr>
        <tr>
          <td>Lot Size</td>
          <td><input class="form-control input-sm" ng-model="vm.lot.metrics.lotSz" type="text" /></td>
        </tr>
        <tr>
          <td>Bennet Code</td>
          <td><input class="form-control input-sm" ng-model="vm.lot.metrics.bCode" type="text" /></td>
        </tr>
        <tr>
          <td>Inventory</td>
          <td><input class="form-control input-sm" ng-model="vm.lot.metrics.inventory" type="number" /></td>
        </tr>
        <tr>
          <td>Status</td>
          <td>
            <select class="form-control input-sm" ng-model="vm.lot.status">
              <option value="In Stock">In Stock</option>
              <option value="Out of Stock">Out of Stock</option>
              <option value="Pending">Pending</option>
              <option value="Incoming">Incoming</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <h5>Relationship</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td class="lot-textarea">Connection</td>
          <td><textarea class="form-control input-sm" rows="4" ng-model="vm.lot.info.connection" type="text"></textarea></td>
        </tr>
        <tr>
          <td class="lot-textarea">History</td>
          <td><textarea class="form-control input-sm" rows="4" ng-model="vm.lot.info.history" type="text"></textarea></td>
        </tr>
        <tr>
          <td class="lot-textarea">Production</td>
          <td><textarea class="form-control input-sm" rows="4" ng-model="vm.lot.info.production" type="text"></textarea></td>
        </tr>
        <tr>
          <td class="lot-textarea">Climate</td>
          <td><textarea class="form-control input-sm" rows="4" ng-model="vm.lot.info.climate" type="text"></textarea></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-6">
    <h5>Visits</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td>
            <form class="form-inline">
              <div class="form-group">
                <span class="label label-primary">start</span>
                <input type="date" class="form-control input-sm" ng-model="vm.start" />
                &nbsp;
                <span class="label label-primary">end</span>
                <div class="input-group pull-right">
                  <input type="date" class="form-control input-sm" ng-model="vm.end" />
                  <span class="input-group-btn">
                     <button type="button" class="btn btn-sm btn-default btn-success" ng-click="vm.addVisit(vm.start, vm.end)"><i class="fa fa-plus"></i></button>
                  </span>
                </div>
              </div>
            </form>
          </td>
        </tr>
        <tr ng-repeat="i in vm.visits">
          <td><span class="badge">{{$index + 1}}</span>&nbsp;{{i.start | date: 'EEEE, MMMM d'}} - {{i.end | date: 'EEEE, MMMM d'}}<a class="btn btn-sm btn-link pull-right" ng-click="vm.removeVisit($index)"><span aria-hidden="true" class="fa fa-remove"></span></a></td>
        </tr>
      </table>
    </div>
  </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><button class="btn btn-sm btn-primary navbar-btn" ng-click="vm.update(vm.lot)">Update <strong>Details</strong></button> <button class="btn btn-sm btn-danger navbar-btn" ng-click="vm.edit()">Cancel</button></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-sm btn-success navbar-btn" ng-click="vm.addAssesment()" ng-show="vm.editing">Add Assesment</button><li>
    </ul>
  </div>
</nav>
