<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td><h5>Name</h5></td>
          <td><p class="lot-value">{{vm.lot.name}}</p></td>
        </tr>
        <tr>
          <td><h5>Assignment</h5></td>
          <td><p class="lot-value">{{vm.lot.assignment}}</p></td>
        </tr>
        <tr>
          <td><h5>Origin</h5></td>
          <td><p class="lot-value">{{vm.lot.origin}}</p></td>
        </tr>
        <tr>
          <td><h5>Farmer</h5></td>
          <td><p class="lot-value">{{vm.lot.farmer}}</p></td>
        </tr>
        <tr>
          <td><h5>Group</h5></td>
          <td><p class="lot-value">{{vm.lot.group}}</p></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td><h5>Cropster ID</h5></td>
          <td><p class="lot-value">{{vm.lot.metrics.cropId}}</p></td>
        </tr>
        <tr>
          <td><h5>Lot Size</h5></td>
          <td><p class="lot-value">{{vm.lot.metrics.lotSz}}</p></td>
        </tr>
        <tr>
          <td><h5>Bennet Code</h5></td>
          <td><p class="lot-value">{{vm.lot.metrics.bCode}}</p></td>
        </tr>
        <tr>
          <td><h5>Inventory</h5></td>
          <td><p class="lot-value">{{vm.lot.metrics.inventory}}</p></td>
        </tr>
        <tr>
          <td><h5>Status</h5></td>
          <td><p class="lot-value">{{vm.lot.status}}</p></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <h5 class="lot-heading">Relationship</h5>
      <div class="panel-body">
      {{vm.lot.info.connection}}
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <h5 class="lot-heading">History</h5>
      <div class="panel-body">
      {{vm.lot.info.history}}
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <h5 class="lot-heading">Production</h5>
      <div class="panel-body">
      {{vm.lot.info.production}}
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <h5 class="lot-heading">Climate</h5>
      <div class="panel-body">
      {{vm.lot.info.climate}}
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="panel panel-default">
      <h5 class="lot-heading">Visits</h5>
      <table class="table">
        <tr>
          <td ng-repeat="visit in vm.visits">
            <p class="lot-value"><span class="badge">{{$index + 1}}</span> {{visit.start | date : 'MMMM dd yy'}} - {{visit.end | date : 'MMMM dd yy'}}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <table class="table">
        <ng-map id="map">
        </ng-map>
        <tr>
          <td><h5>Coordinates</h5></td>
          <td><p class="lot-value">{{vm.lot.geo.lat | number: 2}}, {{vm.lot.geo.lng | number: 2}}</p></td>
        </tr>
        <tr>
          <td><h5>Altitude</h5></td>
          <td><p class="lot-value">{{vm.lot.geo.altitude | number: 1}}m</p></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<!-- <div class="row">

  <div class="col-sm-12">
    <div class="bs-callout bs-callout-default">
      <h5>Comments</h5>
      {{vm.lot.info.comments}}
    </div>
  </div>

</div> -->
