<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td><h5>Component</h5></td>
          <td><p class="lot-value">{{vm.assesments[$index].initial.component}}</p></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td><h5>Espresso</h5></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><h6>TDS</h6></td>
              <td><p class="lot-value">{{vm.assesments[$index].initial.TDS}}mg/L</p></td>
            </tr>
            <tr>
              <td><h6>EXT</h6></td>
              <td><p class="lot-value">{{vm.assesments[$index].initial.EXT}}%</p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td><h5>Brew Ratio</h5></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><h6>Dose</h6></td>
              <td><p class="lot-value">{{vm.assesments[$index].initial.dose}}</p></td>
            </tr>
            <tr>
              <td><h6>Yield</h6></td>
              <td><p class="lot-value">{{vm.assesments[$index].initial.yield}}</p></td>
            </tr>
            <tr>
              <td><h6>Time</h6></td>
              <td><p class="lot-value">{{vm.assesments[$index].initial.time}}</p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td><h5>Short Black</h5></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><h6>Fruit</h6></td>
          <td><p class="lot-value">{{vm.assesments[$index].initial.fruit}}</p></td>
        </tr>
        <tr>
          <td><h6>Acid</h6></td>
          <td><p class="lot-value">{{vm.assesments[$index].initial.acid}}</p></td>
        </tr>
        <tr>
          <td><h6>Finish</h6></td>
          <td><p class="lot-value">{{vm.assesments[$index].initial.finish}}</p></td>
        </tr>
        <tr>
          <td><h6>Tactility</h6></td>
          <td><p class="lot-value">{{vm.assesments[$index].initial.tactility}}</p></td>
        </tr>
        <tr>
          <td><h6>Balance</h6></td>
          <td><p class="lot-value">{{vm.assesments[$index].initial.balance}}</p></td>
        </tr>
        <tr>
          <td><h6>Additional</h6></td>
          <td><p class="lot-value">{{vm.assesments[$index].initial.additional}}</p></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <h5 class="lot-heading">Milk</h5>
      <div class="panel-body">
      {{vm.assesments[$index].initial.milk}}
      </div>
    </div>
  </div>

</div>
