<div class="row">

  <div class="col-sm-12">
    <h5>Component</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td><input class="form-control input-sm" ng-model="vm.assesments[$index].initial.component" type="text" /></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12">
        <h5>Espresso</h5>
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td class="assesment-input">TDS</td>
              <td>
                <div class="input-group assesment-metric">
                  <input class="form-control input-sm" ng-model="vm.assesments[$index].initial.TDS" type="number" />
                  <span class="input-group-addon assesment-metric-btn">mg/L</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="assesment-input">EXT</td>
              <td>
                <div class="input-group assesment-metric">
                  <input class="form-control input-sm" ng-model="vm.assesments[$index].initial.EXT" type="number" />
                  <span class="input-group-addon assesment-metric-btn">%</span>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5>Brew Ratio</h5>
        <div class="panel panel-default">
          <table class="table">
            <tr>
              <td>Dose</td>
              <td><input class="form-control input-sm" ng-model="vm.assesments[$index].initial.dose" type="number" /></td>
            </tr>
            <tr>
              <td>Yield</td>
              <td><input class="form-control input-sm" ng-model="vm.assesments[$index].initial.yield" type="number" /></td>
            </tr>
            <tr>
              <td>Time</td>
              <td><input class="form-control input-sm" ng-model="vm.assesments[$index].initial.time" type="number" /></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <h5>Short Black</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td class="assesment-textarea">Fruit</td>
          <td><textarea type="text" class="form-control input-sm" rows="1" ng-model="vm.assesments[$index].initial.fruit"></textarea></td>
        </tr>
        <tr>
          <td class="assesment-textarea">Acid</td>
          <td><textarea type="text" class="form-control input-sm" rows="1" ng-model="vm.assesments[$index].initial.acid"></textarea></td>
        </tr>
        <tr>
          <td class="assesment-textarea">Finish</td>
          <td><textarea type="text" class="form-control input-sm" rows="1" ng-model="vm.assesments[$index].initial.finish"></textarea></td>
        </tr>
        <tr>
          <td class="assesment-textarea">Tactility</td>
          <td><textarea type="text" class="form-control input-sm" rows="1" ng-model="vm.assesments[$index].initial.tactility"></textarea></td>
        </tr>
        <tr>
          <td class="assesment-textarea">Balance</td>
          <td><textarea type="text" class="form-control input-sm" rows="1" ng-model="vm.assesments[$index].initial.balance"></textarea></td>
        </tr>
        <tr>
          <td class="assesment-textarea">Additional</td>
          <td><textarea type="text" class="form-control input-sm" rows="1" ng-model="vm.assesments[$index].initial.additional"></textarea></td>
        </tr>
      </table>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-12">
    <h5>Milk</h5>
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td><textarea type="text" class="form-control input-sm" rows="2" ng-model="vm.assesments[$index].initial.milk"></textarea></td>
        </tr>
      </table>
    </div>
  </div>

</div>
