<div class="component-login">
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Email" ng-model="vm.username" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="password" class="form-control" placeholder="Password" ng-model="vm.password" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block" ng-click="vm.login()" >Sign in</button>
      </div>
    </div>
  </form>
  <div class="component-login-message" ng-hide="!vm.alert">
    <uib-alert ng-repeat="i in vm.alerts" type="{{i.type}}" close="vm.closeAlert($index)">{{i.msg}}</uib-alert>
  </div>
</div>
