<!-- header -->
<div class="row">
  <div class="lot">

    <div class="col-md-10">
      <h3>
        <strong>{{::vm.lot.name}}</strong>
      </h3>
      <p>
        <span class="{{vm.lot.state | label}}"> </span>
        <small>
          &nbsp;
          <i class="fa fa-calendar-o fa-fw" tooltip-placement="bottom" uib-tooltip="Added {{::vm.lot.added | dateFilter}}"></i>{{::vm.lot.added | date}}
          <i class="fa fa-user fa-fw" tooltip-placement="bottom" uib-tooltip="Added By {{::vm.lot.addedBy}}"></i>{{::vm.lot.addedBy}}
        </small>
      </p>
    </div>

    <div class="clearfix visible-md"></div>

  </div>
</div>
<!-- /header -->

<!-- tabs -->
<div class="row">

  <div class="col-md-10">
    <tabs>
      <panes title="Details">
        <div ng-include src="'views/partials/details.view.html'" ng-show="!vm.editing"></div>
        <div ng-include src="'views/partials/details.edit.html'" ng-show="vm.editing"></div>
      </panes>
      <panes ng-repeat="i in vm.assesments track by $index" title="{{i.name}}">
        <div ng-include src="i.view" ng-show="!vm.editing"></div>
        <div ng-include src="i.edit" ng-show="vm.editing"></div>
      </panes>
    </tabs>
  </div>

  <div class="col-md-2">
    <div class="list-group lot-nav">
      <button class="list-group-item" ng-click="vm.home()"><i class="fa fa-home fa-fw"></i>&nbsp;Home</button>
      <button class="list-group-item" ng-click="vm.edit()"><i class="fa fa-edit fa-fw"></i>&nbsp;Edit</button>
      <button class="list-group-item" ng-click="vm.remove(vm.lot._id)"><i class="fa fa-trash-o fa-fw"></i>&nbsp;Delete</button>
    </div>
  </div>

</div>
<!-- /tabs -->

<!-- footer -->
<div class="row">

  <div class="col-sm-12">
    <footer class="footer">
    </footer>
  </div>

</div>
<!-- footer -->
